
 
::ng-deep .cdk-overlay-pane {
    background-color: #f5f5f5;
}

::ng-deep .cdk-global-overlay-wrapper {
    display: flex;
    height: 100%;
}

::ng-deep .code-modal-header {
    height: 28px;
    line-height: 28px;
    background-color: rgb(60, 60, 60);
}

::ng-deep .code-modal-close {
    float: right;
    line-height: 28px;
    color: white;
}

::ng-deep .code-editor .editor-container {
    height: 600px;
}
