<ng-container *ngIf="to['maxLength']">
    <input  nz-input
        [formControl]="formControl" 
        [formlyAttributes]="field"
        [type]="type"
        [nzSize]="to['nzSize']"
        [autocomplete]="to['autocomplete'] || 'off'"
        [autofocus]="to['autofocus']"
        [maxlength]="to['maxLength']"/>
</ng-container>

<ng-container *ngIf="!to['maxLength']">
    <input  nz-input
        [formControl]="formControl" 
        [formlyAttributes]="field"
        [type]="type"
        [nzSize]="to['nzSize']"
        [autocomplete]="to['autocomplete'] || 'off'"
        [autofocus]="to['autofocus']"/>
</ng-container>




