<ul nz-menu [nzMode]="to['nzMode'] || 'horizontal'" 
            [nzInlineCollapsed]="to['nzInlineCollapsed']"
            [nzSelectable]="to['nzSelectable']"
            [nzTheme]="to['nzTheme'] || 'dark'">
    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
    <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
            <li nz-menu-item
                [nzPaddingLeft]="menu.level * 24"
                *ngIf="!menu.children"
                [nzDisabled]="menu.disabled"
                [nzSelected]="menu.selected">
                <ng-container *ngIf="menu.link">
                    <a href="menu.link" [target]="menu.target" [rel]="menu.rel" >
                        <span title><i nz-icon [type]="menu.icon" *ngIf="menu.icon"></i><span *ngIf="menu.title">{{ menu.title }}</span></span>
                    </a>
                </ng-container>
                <ng-container *ngIf="!menu.link">
                    <span title><i nz-icon [type]="menu.icon" *ngIf="menu.icon"></i><span *ngIf="menu.title">{{ menu.title }}</span></span>
                </ng-container>
            </li>
            
            <li nz-submenu
                [nzPaddingLeft]="menu.level * 24"
                *ngIf="menu.children"
                [nzOpen]="menu.open"
                [nzDisabled]="menu.disabled">
                <span title><i nz-icon [type]="menu.icon" *ngIf="menu.icon"></i><span *ngIf="menu.title">{{ menu.title }}</span></span>

                <ul><ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container></ul>
            </li>
        </ng-container>
    </ng-template>
</ul>