:host {
    position: relative;
    display: block;
    border: 1px dashed #ccc;
    padding: 10px;
    margin: 10px 0;
    min-height: 100px;
    overflow: hidden;
}

:host .drag-list {
    display: inline-block;
    height: 100%;
    min-height: 48px;
}

:host .formly-field-box {
    display: inline-block;
}
