:host {
    position: relative;
    display: block;
    border: 1px dashed #ccc;
    min-height: 100px;
    overflow: hidden;
}

:host .drag-list {
    display: block;
    min-height: 100px;
    /* min-height: 48px; */
}

:host .formly-field-box {
    display: inline-block;
    vertical-align: top;
}
