:host {
    position: relative;
    display: block;
    /* border: 1px dashed #ccc; */
    outline: 1px dashed rgba(170,170,170,0.7);
    min-height: 100px;
    padding: 10px;
}

:host ::ng-deep [cdkdroplist] {
    display: block;
    min-height: 75px;
    /* min-height: 48px; */
}

:host .formly-field-box {
    display: inline-block;
    vertical-align: top;
}
