<ng-container *ngIf="to['nzButtonStyle'] !== 'solid'">
    <nz-radio-group [(ngModel)]="model[key]" 
                    [nzName]="to['nzMame']"
                    [nzDisabled]="to['nzDisabled']"
                    [nzSize]="to['nzSize']"
                    [nzButtonStyle]="to['nzButtonStyle']">
        <label nz-radio [nzValue]="o.value"  *ngFor="let o of to['options']">{{ o.label }}</label>
    </nz-radio-group>
</ng-container>

<ng-container *ngIf="to['nzButtonStyle'] === 'solid'">
    <nz-radio-group 
        [(ngModel)]="model[key]" 
        [nzName]="to['nzMame']"
        [nzDisabled]="to['nzDisabled']"
        [nzSize]="to['nzSize']"
        [nzButtonStyle]="'solid'">
        <label nz-radio-button [nzValue]="o.value" *ngFor="let o of to['options']">{{ o.label }}</label>
    </nz-radio-group>
</ng-container>
