<div>
  <div class="element">
    <div cdkDragHandle class="d-flex justify-content-center align-items-center drag-item pages-list-item" >
      <i nz-icon nzType="file" nzTheme="fill" class="mr-1 fill"></i>
      <i nz-icon nzType="file" nzTheme="outline" class="mr-1 outline"></i>
      <span class="d-inline-block w-100">{{element.title}} - {{element.name}}</span>
    </div>
  </div>
  <div cdkDropList [cdkDropListData]="element.children" (cdkDropListDropped)="drop($event)" [id]='element.id' [cdkDropListConnectedTo]='connectedLists'>
    <app-pages-container *ngFor="let element of element.children" cdkDrag [element]='element' [connectedLists]='connectedLists'></app-pages-container>
  </div>
</div>



