<nz-card style="width: 100%; background-color: #f5f5f5;">

    <div class="toolbar header d-block bg-white shadow mb-1 d-flex" style="height: 56px;">
      <div class="toolbar-left d-flex justify-content-start align-items-center ml-3">
          <i nz-icon nzType="left" nzTheme="outline"></i>
      </div>
      <div class="toolbar-center d-flex justify-content-between pointer-event" style="width: 1000px">
        <section class="d-flex justify-content-center">
            <i nz-icon nzType="copy" nzTheme="outline"></i>
            <i nz-icon nzType="delete" nzTheme="outline"></i>
            <i nz-icon nzType="scissor" nzTheme="outline"></i>
            <i nz-icon nzType="snippets" nzTheme="outline"></i>
        </section>

        <section class="d-flex justify-content-center">
            <i nz-icon nzType="code" nzTheme="outline"></i>
            <i nz-icon nzType="setting" nzTheme="outline"></i>
            <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>
        </section>

        <section class="d-flex justify-content-center">
            <i nz-icon nzType="download" nzTheme="outline"></i>
            <i nz-icon nzType="share-alt" nzTheme="outline"></i>
            <i nz-icon nzType="link" nzTheme="outline"></i>
            <i nz-icon nzType="eye" nzTheme="outline" (click)="showModal($event)"></i>
        </section>

        <section class="d-flex justify-content-center">
          <i nz-icon nzType="download" nzTheme="outline" (click)="openStyleModal($event)"></i>
          <i nz-icon nzType="share-alt" nzTheme="outline" (click)="openClassModel($event)"></i>
          <i nz-icon nzType="link" nzTheme="outline"></i>
          <i nz-icon nzType="eye" nzTheme="outline" (click)="showModal()"></i>
      </section>
      </div>
    </div>
    
    <div cdkDropListGroup class="drop-list-group">
      <div class="menu-list shadow" 
        cdkDropList
        #menuList="cdkDropList"
        id="menuid"
        [cdkDropListData]="leftPaneFieldConfig"
        (cdkDragMoved)="menuMoved($event)"
        (cdkDropListDropped)="menuDrop($event)">

        <nz-input-group class="mb-2" [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="搜索组件" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>

        <hr class="m-2">
        <div class="example-box-1" *ngFor="let item of leftPaneFieldConfig" cdkDrag>{{item.type}}</div>
      </div>
      
      <div  class="drag-list shadow"
            id="dragroot"
            cdkDropList
            [cdkDropListData]="fields" 
            [cdkDropListConnectedTo]="ids"  

            (cdkDropListDropped)="dragListDrop($event, fields)"
            (cdkDropListEntered)="dragListEntered($event)"
            (cdkDropListExited)="dragListExited($event, fields)"

            [cdkDropListEnterPredicate]="canDropPredicate()">

            <formly-field 
              cdkDrag
              *ngFor="let field of fields"

              (click)="fieldClick($event, field);" 
              (contextmenu)="fieldContextMenu($event, field);" 
              (cdkDragDropped)="fieldDrop($event)"
              (cdkDragEnded)="fieldEntered($event)"
              (cdkDragExited)="fieldExited($event)"
              (cdkDragReleased)="fieldReleased($event)"
              (cdkDragStarted)="fieldStarted($event)"
              hide-deprecation
              [form]="field.form"
              [options]="field.options"
              [model]="field.model"
              [field]="field">
            </formly-field>      
      </div>
      <div class="drag-operator shadow">
        <formly-form [model]="operatorModel" [fields]="operatorFields" [options]="operatorOptions" [form]="operatorForm" (modelChange)="change($event)" ></formly-form>
      </div>
    </div>
</nz-card>


