<nz-card style="width: 100%; background-color: #f5f5f5; min-width: 1350px;" class="gjs-dash">
    <app-header></app-header>
    
    <div cdkDropListGroup class="main-wrap drop-list-group">
      <div class="left-panel">
        <div class="left-panel-basic border-right">
            <ul class="panel-top">
              <li><a href=""><img src="../../../assets/text.png"></a></li>
              <li><a href=""><img src="../../../assets/square.png"></a></li>
              <li><a href=""><img src="../../../assets/circle.png"></a></li>
              <li><a href=""><img src="../../../assets/image.png"></a></li>
            </ul>
            <div class="panel-bottom"><a><i nz-icon nzType="double-right" nzTheme="outline" (click)="showpanel()"></i></a></div>
        </div>
        <div *ngIf="leftPanel" class="menu-list shadow" 
          cdkDropList
          #menuList="cdkDropList"
          disable="true"
          id="menuid"
          [cdkDropListData]="leftPaneFieldConfig"
          (cdkDragMoved)="menuMoved($event)"
          (cdkDropListDropped)="menuDrop($event)">

          <nz-input-group class="mb-2" [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="搜索组件" />
          </nz-input-group>

          <ng-template #suffixIconSearch>
            <i nz-icon type="search"></i>
          </ng-template>

          <hr class="m-2">

          <ng-container *ngFor="let item of leftPaneFieldConfig">
            <div class="example-box-1" cdkDrag >
                <div >{{item.type}}</div>
                <div *cdkDragPreview>{{item.type}}</div>
                <!-- <div *cdkDragPlaceholder class="text-primary"></div> -->
            </div>
          </ng-container>
        </div>
      </div>


      
      <div class="panel-main" >
        <div class="panel-main-top">
            <div class="panel-device shadow" [ngStyle]="deviceClass" >
                <div  class="drag-list shadow"
                  id="dragroot"
                  cdkDropList
                  [cdkDropListData]="fields" 
                  [cdkDropListConnectedTo]="ids"  
                  [cdkDropListEnterPredicate]="canDropPredicate()"
                  (cdkDropListDropped)="dragListDrop($event, fields)"
                  (cdkDropListEntered)="dragListEntered($event)"
                  (cdkDropListExited)="dragListExited($event, fields)">
      
                  <formly-field 
                    cdkDrag
                    *ngFor="let field of fields"
                    (click)="fieldClick($event, field);" 
                    (contextmenu)="fieldContextMenu($event, field);" 
                    (cdkDragDropped)="fieldDrop($event)"
                    (cdkDragEnded)="fieldEntered($event)"
                    (cdkDragExited)="fieldExited($event)"
                    (cdkDragReleased)="fieldReleased($event)"
                    (cdkDragStarted)="fieldStarted($event)"
                    hide-deprecation
                    [form]="field.form"
                    [options]="field.options"
                    [model]="field.model"
                    [field]="field">
                  </formly-field>      
                </div>
              </div>
        </div>
        <div class="panel-main-bottom">
          <ul>
            <li><a href="">快捷键</a></li>

            <li><a href="">教程</a></li>

            <li><a href="">帮助</a></li>

            <li><a href="">功能</a></li>
          </ul>
        </div>
      </div>
      

      <div class="panel-right shadow ">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSize]="'small'" nzShowPagination="false">
            <nz-tab [nzTitle]="titleTemplate1">
              <ng-template #titleTemplate1> <i nz-icon nzType="file-ppt"  nzTheme="outline"></i></ng-template>
              <formly-form [model]="operatorModel" [fields]="operatorFields" [options]="operatorOptions" [form]="operatorForm" (modelChange)="change($event)" ></formly-form>
            </nz-tab>
            <nz-tab [nzTitle]="titleTemplate2">
              <ng-template #titleTemplate2> <i nz-icon nzType="folder-open" nzTheme="outline"></i></ng-template>
              <app-layers></app-layers>
            </nz-tab>
            <nz-tab [nzTitle]="titleTemplate3">
              <ng-template #titleTemplate3> <i nz-icon nzType="folder-add" nzTheme="outline"></i></ng-template>
            </nz-tab>
            <nz-tab [nzTitle]="titleTemplate4">
              <ng-template #titleTemplate4> <i nz-icon nzType="file" nzTheme="outline"></i></ng-template>
              <app-pages></app-pages>
            </nz-tab>
          </nz-tabset>
      </div>
    </div>
</nz-card>


