  .drag-over{
    display: flex;
  }


  .drag-operator{
    /* padding: 12px; */
    width: 300px;
    box-shadow: #27364E 1 0 6 0;
    background-color: #fff;
  }



  .box{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
  }

  ::ng-deep .ant-card-body {
    padding: 0;
  }

  ::ng-deep .ant-form-item {
    margin-bottom: 0;
  }
 ::ng-deep .ant-modal-wrap {
    /* overflow: scroll; */
  }

  ::ng-deep .ant-modal-wrap::-webkit-scrollbar {
    display: none;
}

.drag-over{
  display: flex;
}


.drop-list-group {
  flex: 1;
  display: flex;

  height: calc(100vh - 60px);
  overflow: hidden;
  min-height: 667px;
}


::ng-deep .cdk-global-overlay-wrapper{
  z-index: 10000;
}

formly-field {
  display: inline-block;
  vertical-align: top;
}



.toolbar-center {
  margin-left: 316px; 
  margin-right: 316px;
  height: 40px;
  display: flex;
  align-items: center;
}

.toolbar-center i {
  font-size: 20px;
  margin-right: 20px;
  color: rgb(125, 134, 148);
}

.toolbar-center i:hover {
  color: rgb(65, 80, 88);
}

::ng-deep .checked {
  outline: 2px dashed #3b97e3 !important;
  outline-offset: 1px;
}


formly-field {
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -1px;
}

formly-field:hover,
formly-field:focus,
formly-field:active
 {
  outline: 1px dashed #3b97e3;
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px 0px 1px #3b97e3; */
}

formly-field {
  display: inline-block;
  vertical-align: top;
}

/* global dash border 显示全局虚线  */
.gjs-dashed formly-field {
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -2px;
}

/* 面板设置 */
.panel-main {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #ccc;
  padding: 20px;
  overflow-y: scroll;
}

.panel-main::-webkit-scrollbar {
  display: none;
}

.panel-device {

  width: 375px;
  height: 667px;

  overflow: hidden;

  border-radius: 4px;

  outline: 2px dashed rgba(0, 138, 255, 0.36);;
  /* outline-offset: 12px; */

  border: 12px solid #e8e8e8;

  background-color: #fff;

  overflow: scroll;
}

.panel-device::-webkit-scrollbar {
  /* display: none; */
}

.drag-list{
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.iconfont {
  font-size: 16px;
}

.iconfont img {
  width: 16px;
  height: 16px;
}



.left-panel {
  display: flex;
}

.left-panel-basic {
  width: 40px;
  background-color: #fff;
  height: 100%;
}

/* .left-panel-basic a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
} */

.menu-list{
  display: block;
  width: 200px;
  padding: 12px;
  float: left;
  height: 100%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.panel-device::-webkit-scrollbar
{
    width: 8px;
    height: 0px;
    background-color: #F5F5F5;
}
 
/*定义滚动条轨道 内阴影+圆角*/
.panel-device::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: #F5F5F5;
}
 
/*定义滑块 内阴影+圆角*/
.panel-device::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.example-box-1 {
  border:  1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 2px;
  line-height: 28px;
  height: 28px;
  padding-left: 10px;
}