  .drag-over{
    display: flex;
  }

  .menu-list{
    padding: 12px;
    display: block;
    width: 300px;
    float: left;
    /* height: 800px; */
    height: calc(100vh - 62px);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .drag-operator{
    /* padding: 12px; */
    width: 300px;
    box-shadow: #27364E 1 0 6 0;
    background-color: #fff;
  }

  .drag-list{
    min-width: 500px;
    padding: 12px;
    flex: 1;
    margin: 0 16px;
    /* height: 800px; */
    height: calc(100vh - 62px);
    box-shadow: #27364E 1 0 6 0;
    margin: 0 16px;
    background-color: #fff; 
  }

  .box{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
  }

  ::ng-deep .ant-card-body {
    padding: 0;
  }

  ::ng-deep .ant-form-item {
    margin-bottom: 0;
  }
 ::ng-deep .ant-modal-wrap {
    /* overflow: scroll; */
  }

  ::ng-deep .ant-modal-wrap::-webkit-scrollbar {
    display: none;
}

.drag-over{
  display: flex;
}


.drop-list-group {
  flex: 1;
  display: flex;
}


::ng-deep .cdk-global-overlay-wrapper{
  z-index: 10000;
}

formly-field {
  display: inline-block;
  vertical-align: top;
}



.toolbar-center {
  margin-left: 316px; 
  margin-right: 316px;
  height: 56px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.toolbar-center i {
  font-size: 20px;
  margin-right: 20px;
  color: rgb(125, 134, 148);
}

.toolbar-center i:hover {
  /* color: rgb(125, 134, 148); */
  color: rgb(65, 80, 88);
}

::ng-deep .checked {
  outline: 2px dashed #3b97e3 !important;
  outline-offset: 1px;
}

/* .drag-list .cdk-drag-placeholder {
  width: 100%;
  border-bottom: 2px solid #3b97e3;
} */
/* 
outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -2px; */

formly-field {
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -1px;
}

formly-field:hover,
formly-field:focus,
formly-field:active
 {
  outline: 1px dashed #3b97e3;
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px 0px 1px #3b97e3; */
}

formly-field {
  display: inline-block;
  vertical-align: top;
}

/* global dash border 显示全局虚线  */
.gjs-dashed formly-field {
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -2px;
}