  .drag-over{
    display: flex;
  }

  .menu-list{
    padding: 12px;
    display: block;
    width: 300px;
    float: left;
    height: 800px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .drag-operator{
    /* padding: 12px; */
    width: 300px;
    box-shadow: #27364E 1 0 6 0;
    background-color: #fff;
  }

  .drag-list{
    min-width: 500px;
    padding: 12px;
    flex: 1;
    margin: 0 16px;
    height: 800px;
    box-shadow: #27364E 1 0 6 0;
    margin: 0 16px;
    background-color: #fff; 
  }

  .box{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
  }

  ::ng-deep .ant-card-body {
    padding: 0;
  }

  ::ng-deep .ant-form-item {
    margin-bottom: 0;
  }
 ::ng-deep .ant-modal-wrap {
    /* overflow: scroll; */
  }

  ::ng-deep .ant-modal-wrap::-webkit-scrollbar {
    display: none;
}

.drag-over{
  display: flex;
}


.drop-list-group {
  flex: 1;
  display: flex;
}

.contentmenu-dialog-content {
  width: 200px;
  height: 200px;
  /* border: solid 1px #ccc; */
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;

  background: #fff;
  border-radius: 4px;
  /* transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}

.contentmenu-dialog-content {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}



.contentmenu-dialog-content ul hr {
  margin: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.contentmenu-dialog-content ul,
.contentmenu-dialog-content ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contentmenu-dialog-content ul  {
  padding: 12px 0;
}

.contentmenu-dialog-content ul li {
  padding: 0 12px;
  line-height: 28px;
  height: 28px;
}

.contentmenu-dialog-content ul li:hover {
  /* background-color: #eee; */
  background: rgba(0, 0, 0, 0.04);
}
.contentmenu-dialog-content ul li i{
  font-size: 12px;
  float: right;
  color: #ccc;
}



::ng-deep .cdk-global-overlay-wrapper{
  z-index: 10000;
}

formly-field {
  display: inline-block;
  vertical-align: top;
}

formly-field:hover,
formly-field:focus,
formly-field:active
 {
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}