
<div class="toolbar header d-block bg-white shadow mb-1 d-flex" style="height: 40px;">
    <div class="toolbar-left d-flex justify-content-start align-items-center ml-3">
        <i nz-icon nzType="left" nzTheme="outline"></i>
    </div>
    <div class="toolbar-center d-flex justify-content-between pointer-event" style="width: 1000px">
        <section class="d-flex justify-content-center">
            <i nz-icon nzType="copy" nzTheme="outline"></i>
            <i nz-icon nzType="delete" nzTheme="outline"></i>
            <i nz-icon nzType="scissor" nzTheme="outline"></i>
            <i nz-icon nzType="snippets" nzTheme="outline"></i>
        </section>

        <section class="d-flex justify-content-center">
            
            <i nz-icon nzType="setting" nzTheme="outline"></i>
            <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>
        </section>

        <section class="d-flex justify-content-center">
            <i nz-icon nzType="download" nzTheme="outline"></i>
            <i nz-icon nzType="share-alt" nzTheme="outline"></i>
            <i nz-icon nzType="link" nzTheme="outline"></i>
            <i nz-icon nzType="eye" nzTheme="outline" (click)="showModal($event)"></i>
        </section>

        <section class="d-flex justify-content-center">
            <!-- <i nz-icon nzType="download" nzTheme="outline" ></i> -->
            <a class="mx-2" (click)="openStyleModal($event)">Style</a>
            <a class="mx-2" (click)="openClassModel($event)">Class</a>
            <i nz-icon nzType="info-circle" nzTheme="outline" (click)="openKeysModel($event)"></i>
            <i nz-icon nzType="code" nzTheme="outline" (click)="openCodeModel($event)"></i>
            <i nz-icon nzType="link" nzTheme="outline"></i>
            <i nz-icon nzType="eye" nzTheme="outline" (click)="showModal($event)"></i>
        </section>
    </div>
</div>
          