<!-- <app-overlay></app-overlay> -->
<!-- <app-quill></app-quill> -->

<app-drop></app-drop>

<!-- <app-drag></app-drag> -->

<!-- <app-radio></app-radio> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-checkbox></app-checkbox> -->

<!-- <app-input></app-input> -->

<!-- <app-button></app-button> -->

<!-- <app-drag-modal></app-drag-modal>  -->



<!-- <nz-modal #modal1 [(nzVisible)]="isVisible1" [nzMask]="false" nzTitle="The first Modal" (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1()">
  <p>Content one1</p>
  <p>Content two</p>
  <p>Content three</p>
</nz-modal>
<nz-modal #modal2 [(nzVisible)]="isVisible2" [nzMask]="false" nzTitle="The first Modal" (nzOnCancel)="handleCancel2()" (nzOnOk)="handleOk2()">
    <p>Content one2</p>
    <p>Content two</p>
    <p>Content three</p>
</nz-modal>

<nz-modal #modal3 [(nzVisible)]="isVisible3" [nzZIndex]="10000" [nzMask]="false" nzTitle="The first Modal" (nzOnCancel)="handleCancel3()" (nzOnOk)="handleOk3()">
    <p>Content one3</p>
    <p>Content two</p>
    <p>Content three</p>
</nz-modal>

<nz-modal #modal4 [(nzVisible)]="isVisible4" [nzMask]="false" nzTitle="The first Modal" (nzOnCancel)="handleCancel4()" (nzOnOk)="handleOk4()">
    <p>Content one4</p>
    <p>Content two</p>
    <p>Content three</p>
</nz-modal>

<button nz-button nzType="primary" (click)="onClick('primary')">Primary</button>
<button nz-button nzType="default" (click)="onClick('default')">Default</button>
<button nz-button nzType="dashed" (click)="onClick('dashed')">Dashed</button>
<button nz-button nzType="danger" (click)="onClick('danger')">Danger</button> -->



<!-- 全局弹窗 -->
<!-- 内容菜单： 右键点击编辑层时的弹窗 -->
<app-content-menu-modal></app-content-menu-modal>

<!-- JOSN编辑器弹窗 -->
<app-editor-modal></app-editor-modal>