<div>
    <div class="menu-list shadow" 
    cdkDropList
    #menuList="cdkDropList"
    id="menuid"
    [cdkDropListData]="fields"
    (cdkDragMoved)="move($event)"
    (cdkDropListDropped)="drop($event)">

    <ng-container *ngFor="let item of fields">
      <div class="example-box-1 d-flex justify-content-center align-items-center border-bottom py-2" cdkDrag>
          <!-- <div *cdkDragPreview>{{item.type}}</div>
          <div *cdkDragPlaceholder class="text-primary"></div> -->
          <i nz-icon nzType="eye" nzTheme="outline" class="d-inline-block w-25 text-left ml-2"></i>
          <span class="d-inline-block w-50">{{item.type}}</span>
          <div class="example-handle d-inline-block w-25 text-right mr-2 " cdkDragHandle>
            <svg width="16px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
      </div>
    </ng-container>
  </div>
</div>